/*
:root {
    --primary: #22D2B3;
    --secundary: #003399;
    --support: #199983;
    --blackColor: #000000;
    --whiteColor: #FFFFFF;
    --grayColor: #5C6F82;
    --iceColor: #F5F5F5;
    --cardsBarColor: #CBCDCE;
    --findAppMaskColor: #0C162F;
    --findAppMasc: #081018;
    --defaultFont: "Montserrat";
    --Oswald: "BIZ UDGothic", sans-serif;
    --transparentdarkColor: #081018c4;
    --transparentWindow: #081018eb;
    --inputsBgLogin: #ffffff1f;
}
*/
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--iceColor);
  /* background-color: var(--grayColor); */
  font-family: var(--defaultFont) !important;
  padding-bottom: 250px;
}

/* Nav seciton */
nav {
  width: 100%;
  background-color: var(--iceColor);
  color: var(--cardsBarColor);
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  z-index: 2;
}
.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
/* And of Nav seciton */

/* Form section */
.content {
  width: 100%;
  padding: 120px 0 80px;
}
.contentContainer {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: start;
  position: relative;
}
.firstColumn {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.numbersFields {
  width: auto;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 20px;
}
.verticalBar {
  position: absolute;
  top: 0;
  left: 14px;
  width: 2px;
  height: 100%;
  background-color: var(--cardsBarColor);
  z-index: 0;
}
.formIndicationFields,
.mobileTitleNamber {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 5px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.formBox {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.formTitle {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 25px;
}
.typeFormBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 15px;
}

.physicalPerson,
.legalPerson {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--cardsBarColor);
  cursor: pointer;
}
.physicalPerson:active,
.legalPerson:active {
  border-bottom: 2px solid var(--primary);
}
.typeFormBoxText {
  color: var(--grayColor);
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
  transition: all 500ms;
  width: 100%;
  text-align: center;
}
.typeFormBoxText:hover {
  transform: scale(1.02);
}
.typeFormBoxText:active {
  color: var(--primary);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.partOne {
  margin-bottom: 60px;
}
label {
  width: 100%;
  font-size: 14px;
  text-align: start;
  font-weight: 600;
  color: var(--grayColor);
}
input {
  width: 100%;
  border: 1px solid var(--cardsBarColor);
  background-color: var(--whiteColor);
  border-radius: 5px;
  padding-left: 10px;
  height: 35px;
  margin-bottom: 10px;
  margin-top: 3px;
  outline: none;
}
input::placeholder {
  color: var(--grayColor);
  font-family: var(--defaultFont) !important;
  font-size: 12px;
}
.responsiveSupport {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.cepLabel {
  width: 35%;
}
.getAddressWithCep {
  width: 57%;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--primary);
  text-align: center;
  color: var(--whiteColor);
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  cursor: pointer;
  transition: all 500ms;
}
.getAddressWithCep:hover {
  transform: scale(1.02);
}

.getAddressWithCep:active {
  filter: brightness(75%);
}
.addressLabel {
  width: 60%;
}
.numberLabel {
  width: 30%;
}
.neighborhoodLabel {
  width: 50%;
}
.complementLabel {
  width: 42%;
}
.stateLabel {
  width: 20%;
}
.cityLabel {
  width: 72%;
}
.partTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 60px;
}
.selectBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectBox select {
  height: 35px;
  color: var(--grayColor);
  font-family: var(--defaultFont) !important;
  border: 1px solid var(--cardsBarColor);
  border-radius: 5px;
  padding-left: 10px;
}
.formStateSelect {
  width: 29%;
}
.formSchoolSelect {
  width: 63%;
}
.partThree {
  position: absolute;
  bottom: -315px;
  left: 48px;
  right: 0;
  height: auto;
  margin-bottom: 60px;
}
.partThreeContent {
  max-width: 1000px;
  /* width: 90%; */
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 35px;
}
.partThreeFields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: start;
  align-items: start;
}
.partThreeAllBoxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.typOfPayment {
  width: 48%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.typOfPayment label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typOfPayment img {
  width: 110px;
}
.typOfPayment input[type='radio'] {
  width: 20px;
}

.formCreditCar,
.termBtnBox {
  width: 48%;
}
.formCreditCar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.cardSafeCode {
  width: 40%;
}
.cardValidation {
  width: 25%;
  margin-left: 40px;
}
.captchaBox {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.captchaCode {
  width: 60%;
}
.captchaBox span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.captchaBox img {
  width: 100px;
  height: 35px;
}
.termBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.termLabel {
  width: 43%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.checkboxInput {
  width: 15px;
  height: 15px;
  margin: 5px 10px 0 0;
}
.termBtnBox a {
  color: var(--primary);
  text-decoration: underline;
  font-size: 12px;
}
.formSubmitBtn {
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--primary);
  padding: 12px 50px;
  font-size: 15px;
  font-weight: bold;
  color: var(--whiteColor);
  cursor: pointer;
  transition: all 500ms;
}

.formSubmitBtn:hover {
  transform: scale(1.02);
}
.formSubmitBtn:active {
  filter: brightness(75%);
}
#physicalPersonForm {
  display: none;
}

/* Secund Column */
.secundColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.infoCourse {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  background-color: var(--whiteColor);
  margin-bottom: 30px;
}
.headerInfoCourse {
  width: 100%;
  height: 50%;
  position: relative;
}
.headerCourseImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.titleCourseBox {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(
    to top,
    var(--findAppMaskColor),
    transparent
  );
}
.titleCourse {
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.contentInfoCourse {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oldPrice {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fromOld {
  font-size: 15px;
  font-weight: 400;
}
.numberOldPrice {
  font-size: 20px;
  margin-left: 5px;
  color: var(--grayColor);
  font-weight: 500;
}
.oldPriceBar {
  position: absolute;
  top: 11px;
  left: 23px;
  height: 2px;
  width: 106px;
  background-color: red;
}
.newPriceBox {
  max-width: 95%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.fromNew {
  font-size: 17px;
  font-weight: 400;
}
.newPriceText {
  font-size: 35px;
  font-weight: bold;
  color: var(--blackColor);
}
#parcelsCourse {
  width: 150px;
  height: 30px;
  border: 1px solid var(--cardsBarColor);
  border-radius: 5px;
  font-size: 17px;
  color: var(--blackColor);
  outline: none;
}
.interest-free {
  font-size: 14px;
  color: var(--blackColor);
}
.insertDiscountCouponBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.formDiscount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.couponLabel {
  font-size: 20px;
  width: auto;
  margin-right: 30px;
}
.couponBtn {
  width: 100%;
  background-color: var(--secundary);
  border-radius: 5px;
  border: none;
  color: var(--whiteColor);
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 15px auto;
  transition: all 500ms;
  cursor: pointer;
}
.couponBtn:hover {
  transform: scale(1.02);
}
.couponBtn:active {
  filter: brightness(75%);
}
.congratulationBox {
  width: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--primary);
  margin-bottom: 100px;
}
.congratulationText {
  font-size: 11px;
  width: 75%;
  color: var(--whiteColor);
}
.congratulationBox img {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
}
.logoAddressBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.logoAddressImg {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.logoAddressImg img {
  width: 50%;
}
.infoInstitute {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.instituteName {
  text-align: start;
  font-size: 13px;
}
.instituteAddress {
  text-align: start;
  font-size: 11px;
}
/* End of Form section */
